@{
    ViewBag.Title = "Home Page";
    List<string> Companies = new List<string>();
    Companies = ViewBag.Companies;
    string FileList = "";
    int FileIndex = 0;
}
<br />
<div class="row">
    <div class="col-md-5">
        <span>@ViewBag.Username</span>
        <h4 style="text-align:center;">Data Entry Fields</h4>
        @using (Html.BeginForm("GetFiles", "Home", FormMethod.Post))
        {
            <span>Companies</span>
            <select name="CompanySelect" id="CompanySelect" style="width:75%;" onchange="FillCompanyInfo(this.value)">
                <option value="">--- Select Company ---</option>
                @foreach (string c in Companies)
                {
                    <option value="@c">@c</option>
                }
            </select>
            <br />
            <br />
            <input type="button" value="Go" class="form-control" style="width:50%; margin:0 auto;" onclick="GetFiles()" />
        }
        <br />
        @using (Html.BeginForm("SubmitNewFile", "Home", FormMethod.Post, new { @id = "SubmitNewVdoc"}))
        {
            <input type="hidden" name="SelectedCompany" id="SelectedCompany" value=""/>
            <input type="hidden" name="OldFileName" id="OldFileName" value="" />
            <br />
            <div style="text-align:center;">
                <p style="text-align:left;">Priority</p>
                <select size="10" style="width: 75%;"></select>
            </div>
            <br />
            <br />
            <input type="button" value="Refresh" class="form-control" style="width:50%; margin:0 auto;" />
            <br />
            <br />
            <div style="border:1px solid blue;padding:5px;">
                <p>Company Information</p>
                <span>Company</span>&nbsp;&nbsp;<input type="text" name="CompanyName" id="CompanyName" style="width:100%; border-radius:5px;" /> <br /><br />
                <span>Filename</span>&nbsp;&nbsp;<input type="text" id="Filename" name="Filename" style="width: 100%; border-radius: 5px;" maxlength="256"/><br /><br />
                <span>MIS</span>&nbsp;&nbsp;<input type="text" name="CompanyMIS" id="CompanyMIS" style="width: 100%; border-radius: 5px;" /><br /><br />
            </div>

            <br />
            <br />

            <div style="border:1px solid blue; padding: 5px;">
                <span>Manufacturer</span>&nbsp;&nbsp;<input type="text" id="Manufacturer" name="Manufacturer" style="width: 100%; border-radius: 5px;" onblur="FormatFileName()"/><br />
                <span>Product Name</span>&nbsp;&nbsp;<input type="text" id="ProductName" name="ProductName" style="width: 100%; border-radius: 5px;" onblur="FormatFileName()"/><br />
                <span>Product Number</span>&nbsp;&nbsp;<input type="text" id="ProductNumber" name="ProductNumber" style="width: 100%; border-radius: 5px;" onblur="FormatFileName()"/><br />
                <span>Date</span>&nbsp;&nbsp;<input type="text" id="Date" name="Date" style="width: 100%; border-radius: 5px;" onblur="FormatDate(this.value), FormatFileName()"/><br />
                <span>Language</span>&nbsp;&nbsp;<input type="text" id="Language" name="Language" style="width: 100%; border-radius: 5px;" onblur="FormatFileName()"/><br />
                <span>Location</span>&nbsp;&nbsp;<input type="text" id="Location" name="Location" style="width: 100%; border-radius: 5px;" /><br />
                <span>Department</span>&nbsp;&nbsp;<input type="text" id="Department" name="Department" style="width: 100%; border-radius: 5px;" /><br />
                <span>Common Name</span>&nbsp;&nbsp;<input type="text" id="CommonName" name="CommonName" style="width: 100%; border-radius: 5px;" /><br />
            </div>

            <br />
            <br />

            <input type="button" value="Ok" style="width:25%;" onclick="return SubmitForm()"/>
            <input type="button" value="Next" style="width:25%;" onclick="GetNextFile()" />
        }
        <br />
        <br />
    </div>

    @* Add javascript here due to IFrame stopping the loading for the regular page.  *@
    <script src="/Scripts/jquery-3.4.1.js"></script>
    <script>
        var FileIndex = 0;
        function FillCompanyInfo(SelectedCompany) {
            const CoName = SelectedCompany.split("-")
            document.getElementById("CompanyName").value = CoName[0];
            document.getElementById("CompanyMIS").value = CoName[1];
            document.getElementById("SelectedCompany").value = SelectedCompany;
        }
        function GetFiles() {
            FileIndex = 0;
            $.ajax({
                url: '/Home/GetFiles/',
                data: { SelectedCompany: document.getElementById("CompanySelect").value, FileIndex:FileIndex },
                type: 'GET',
                success: function (data) {
                    //var CompanyFiles = data.split(',');
                    if (data.FileList != "" && data.FileList != "null") {
                        document.getElementById("PdfDisplay").src = "https://sds.chemtel.net/DocDB/mpepitone/" + document.getElementById("CompanySelect").value + "/" + data.FileList;
                        document.getElementById("OldFileName").value = data.FileList;
                    } else {
                        alert("THERE ARE NO FILES LEFT IN THIS FOLDER");
                        document.getElementById("PdfDisplay").src = "";
                    }
                    //https://sds.chemtel.net/DocDB/mpepitone/1Test-0000000/3M No Cleanup Rocker Gard Nr 8949.pdf
                },
                error: function (data) {
                    alert("There is no record for the name selected. If this is OK, please disregard. If you think this is an error, please contact IT.");
                }
            });
        }
        function GetNextFile() {
            FileIndex = FileIndex+1;
            $.ajax({
                url: '/Home/GetFiles/',
                data: { SelectedCompany: document.getElementById("CompanySelect").value, FileIndex: FileIndex },
                type: 'GET',
                success: function (data) {
                    //var CompanyFiles = data.split(',');
                    if (data.FileList != "" && data.FileList != "null") {
                        document.getElementById("PdfDisplay").src = "https://sds.chemtel.net/DocDB/mpepitone/" + document.getElementById("CompanySelect").value + "/" + data.FileList;
                        document.getElementById("OldFileName").value = data.FileList;
                    } else {
                        alert("THERE ARE NO MORE FILES LEFT IN THIS FOLDER");
                        document.getElementById("PdfDisplay").src = "";
                    }
                    //https://sds.chemtel.net/DocDB/mpepitone/1Test-0000000/3M No Cleanup Rocker Gard Nr 8949.pdf
                },
                error: function (data) {
                    alert("There is no record for the name selected. If this is OK, please disregard. If you think this is an error, please contact IT.");
                }
            });
        }
        function FormatDate(Date) {
            var month = "";
            var day = "";
            var year = "";
            if (Date != "" && !Date.includes("/") && Date.length != 10) {
                month = Date.substring(0, 2);
                day = Date.substring(2, 4);
                year = Date.substring(4, 9);
                document.getElementById("Date").value = month + "-" + day + "-" + year;
            }
        }
        function FormatFileName() {

            var Manufacturer = "";
            var ProductName = "";
            var ProductNumber = "";
            var Language = "";
            var Date = "";

            if (document.getElementById("Manufacturer").value != null && document.getElementById("Manufacturer").value !="") { Manufacturer = document.getElementById("Manufacturer").value };
            if (document.getElementById("ProductName").value != null && document.getElementById("ProductName").value !="") { ProductName = document.getElementById("ProductName").value };
            if (document.getElementById("ProductNumber").value != null && document.getElementById("ProductNumber").value!= "") { ProductNumber = document.getElementById("ProductNumber").value };
            if (document.getElementById("Language").value != null && document.getElementById("Language").value != "") { Language = document.getElementById("Language").value };
            if (document.getElementById("Date").value != null && document.getElementById("Date").value != "") { Date = document.getElementById("Date").value };

            $.ajax({
                url: '/Home/FormatFileName/',
                data: { Manufacturer: Manufacturer, ProductName: ProductName, ProductNumber: ProductNumber, Language: Language, Date: Date },
                type: 'GET',
                success: function (data) {
                    document.getElementById("Filename").value = data.NewFileName;
                },
                error: function (data) {
                    alert("There was an error while formatting the new file name.");
                }
            });
        }
        function SubmitForm() { //Submit Form via javascript to check for duplicate files first
            var HasDuplicate = "";
            $.ajax({
                url: '/Home/CheckForDuplicates/',
                data: { Filename: document.getElementById("Filename").value, CompanySelected: document.getElementById("SelectedCompany").value },
                type: 'GET',
                success: function (data) {
                    HasDuplicateMessage(data.HasDuplicate);
                },
                error: function (data) {
                    alert("ERROR!");
                }
            });

        }
        function HasDuplicateMessage(DuplicateBit) {
            if (DuplicateBit == "1") {
                var submit = confirm("There is another with the same file name, do you want to overwrite the existing file?");
                if (submit) { //If overwrite is good to go push to review.
                    document.getElementById("SubmitNewVdoc").submit();
                } else {
                    return false;
                }
            } else {
                document.getElementById("SubmitNewVdoc").submit();
            }
        }
    </script>

    <div class="col-md-7" style="text-align:center;">
        <div id="PDFHolder" name="PDFHolder" style="position:fixed; width:50%;">
            <h4 style="text-align:center; margin: 0 auto;">MSDS Document</h4>
            <br />
            <iframe id="PdfDisplay" name="PdfDisplay" src="" type="application/pdf" style="width:100%; height:1000px;" />
        </div>
    </div>
</div>`